* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    background: linear-gradient(to bottom, #E891C8, #7B3CAF);
    height: 100vh;
}

/* Background Bubbles */

.background {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.background img:first-child {
    height: 200px;
}

.background img:last-child {
    align-self: flex-end;
    height: 300px;
}

img[top-ellipse] {
    position: absolute;
    right: -35px;
    top: -30px;
    z-index: 1;
}

/* Saab ka parent */

.white {
    height: calc(100vh - 70px);
    width: calc(100vw - 70px);
    border-radius: 28px;
    display: flex;
    flex-flow: row;
    background: rgba(255, 255, 255, .2);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(8px);
}

.left-nav {
    background: rgba(255, 255, 255, .2);
    box-sizing: border-box;
    padding: 60px 0;
    border-radius: 28px 0 0 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
}

.left-nav>* {
    margin: 0 35px;
}

[firstdiv] {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 0;
}

[firstdiv]>* {
    margin: 0 35px;
}

.site-logo {
    font-weight: 700;
    font-family: Inter;
    font-size: 16px;
}

/* left nav elements */

.menu-group {
    display: flex;
    flex-flow: column nowrap;
    margin: 30px 0 0 0;
}

.menu-group div {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.menu-group div:hover {
    background: rgba(166, 149, 255, .3);
    border-left: 3px solid #6159E6;
}

img[alt='logo'] {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* Add Student Button */

.add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    width: 200px;
    height: 45px;
    margin-top: 40px;
    border-radius: 15px;
    background-color: #7D3DAF;
    transition: box-shadow .4s, background-color .4s, color .1s;
}

.add-btn:hover {
    color: rgb(64, 50, 187);
    box-shadow: 1px 1px 10px gray;
    background-color: white;
}

#btn-student {
    text-decoration: none;
}

/* Logout Button */

.logout-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    height: 45px;
    width: 200px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: #7D3DAF;
    transition: box-shadow .4s, background-color .4s, color .1s;
}

.logout-btn:hover {
    color: rgb(64, 50, 187);
    box-shadow: 1px 1px 10px gray;
    background-color: white;
}

/* Right major */

.main {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    z-index: 20;
    width: 100%;
    padding: 35px;
}

/* Search Section */

.search-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search-group input[type='text'] {
    padding: 15px 15px 15px 50px;
    border-radius: 10px;
    background: rgba(255, 255, 255, .4);
    border: none;
    outline: none;
    margin-right: 20px;
}

.search-group input[type='text']::placeholder{
    color: black;
}

.icon-search {
    transform: translate(150%, 0);
}

/* Notification Box */

.notification{
    height: fit-content;
    width: fit-content;
    padding: 11.5px;
    border: none;
    background: rgba(255, 255, 255, .4);
    border-radius: 10px;
    cursor: pointer;
}

/* Main Containers */

.tcContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:fit-content;
}

.caProgress{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: fit-content;
}

.Progress{
    height: 225px;
    width: 350px;
    background: rgba(255, 255, 255, .4);
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pContainer{
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    background: #CE86E3;
    border-radius: 28px;
}

.tTable{
    height: 275px;
    width: 350px;
    background:rgba(255, 255, 255, .4);
    border-radius: 28px;
}

.calendar{
    height: 275px;
    width: 350px;
    background:rgba(255, 255, 255, .4);
    border-radius: 28px;
}

/* --------------Add student block/POPUP styles---------------- */

.blur-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.158);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.white_content {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 650px;
    padding: 16px;
    border-radius: 20px;
    border: 2px solid rgb(64, 50, 187);
    background-color: white;
    z-index: 1002;
    overflow: auto;
    font-family: 'Trebuchet MS';
}

.close-logo {
    position: absolute;
    right: 15px;
    top: 15px;
}

.top-heading {
    width: inherit;
    margin: 5px 10px 0 10px;
    border-bottom: 1px solid gray;
}

.top-heading p {
    padding: 0 0 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.elements {
    height: 50px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.elements>input {
    height: calc(100% - 10px);
    width: 300px;
    border: 1px solid dimgrey;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    transition: border .2s, box-shadow .2s;
}

.elements>input:focus {
    border: 1px solid rgb(64, 50, 187);
    box-shadow: 0 0 2px 0 rgba(64, 50, 187, .5);
}

/* Removing Spin Buttons from input typer numbers input box */

.elements input::-webkit-inner-spin-button,
.elements input::-webkit-outer-spin-button {
    display: none;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.container>div {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    height: 450px;
    width: 50%;
    padding: 10px;
    margin: 30px 0 0 0;
}

/* Submit and Cancel Buttons */
.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.btnContainer input {
    padding: 12.5px 30px;
    width: 155px;
    border-radius: 10px;
    outline: none;
    margin: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    background: rgba(64, 50, 187, .8);
    transition: background-color .4s, color .4s, box-shadow .4s;
}

.btnContainer input:hover {
    color: rgb(64, 50, 187);
    box-shadow: 1px 1px 10px gray;
    background-color: white;
}

.btnContainer input:last-child {
    background-color: gray;
    transition: background-color .4s, box-shadow .4s;
}

.btnContainer input:last-child:hover {
    color: rgb(64, 50, 187);
    box-shadow: 1px 1px 10px gray;
    background-color: white;
}