@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700');

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    background: url('../Images/background.svg') no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}

/* popup */

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    padding: 20px;
    border-radius: 28px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    z-index: 1002;
    overflow: auto;
}
.popup ul{
    padding-left: 10px;
}
.popup header{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.popup header .cross{
    padding: 10px;
    color: white;
}
.popup header .cross:hover{
    cursor: pointer;
    color: rgba(205, 205, 205, 1);
    border-radius: 50%;
}
.popup .body{
    color: white;
    margin-bottom: 10px;
}
.popup button{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(64, 50, 187, .8);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
    transition: background-color .4s, color .4s, box-shadow .4s;
}
.popup button:hover{
    color: rgb(64, 50, 187);
    box-shadow: 1px 1px 10px gray;
    background-color: white;
}

/* Saab ka parent */

.white {
    height: calc(100vh - 25px);
    width: calc(100vw - 25px);
    border-radius: 28px;
    display: flex;
    flex-flow: row;
    background: rgba(157, 157, 157, .1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(2px);
}

.left-nav {
    background: rgba(0, 0, 0,.2);
    box-sizing: border-box;
    padding: 60px 0;
    border-radius: 28px 0 0 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
}

.left-nav>* {
    margin: 0 20px;
}

[firstdiv] {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 0;
}

[firstdiv]>* {
    margin: 0 35px;
}

.site-logo {
    font-weight: 700;
    font-family: Inter;
}

/* left nav elements */

.menu-group {
    display: flex;
    flex-flow: column nowrap;
    margin: 30px 0 0 0;
}
.activeDiv {
    background: rgba(166, 149, 255, .3);
    border-left: 3px solid #6159E6;
}
.menu-group div {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.menu-group a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Inter', 'Trebuchet MS', sans-serif;
}

.menu-group a:hover {
    background: rgba(166, 149, 255, .3);
    border-left: 3px solid #6159E6;
}

img[alt='logo'] {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* Logout Button */

.logout-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    height: 40px;
    width: 170px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: #7833D7;
    /* 3D3C3C */
    transition: box-shadow .4s, background-color .4s, color .1s;
}

.logout-btn:hover {
    color: rgb(64, 50, 187);
    box-shadow: 1px 1px 10px gray;
    background-color: white;
}

/* Right major */

.main {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    z-index: 20;
    width: 100%;
    padding: 35px;
}

.main > *:last-child {
    display: flex;
    margin-top: 35px;
    width: 100%;
    height: calc(100% - 82.5px);
}

/* Search Section */

.search-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search-group input[type='text'] {
    padding: 15px 15px 15px 50px;
    border-radius: 10px;
    background: rgba(157,157,157, .2);
    color: white;
    border: none;
    outline: none;
    margin-right: 20px;
}

.search-group input[type='text']::placeholder{
    color: white;
}

.icon-search {
    transform: translate(150%, 0);
}

/* Notification Box */

.notification{
    height: fit-content;
    width: fit-content;
    padding: 11.5px;
    border: none;
    background: rgba(157,157,157, .2);
    border-radius: 10px;
    cursor: pointer;
}

/* --------------Add student block/POPUP styles---------------- */

.blur-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.white_content {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 650px;
    padding: 16px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1002;
    overflow: auto;
    font-family: 'Trebuchet MS';
    color: white;
}

.close-logo {
    position: absolute;
    right: 15px;
    top: 15px;
}

.top-heading {
    width: inherit;
    margin: 5px 10px 0 10px;
    border-bottom: 1px solid gray;
}

.top-heading p {
    padding: 0 0 20px 0;
    font-size: 20px;
    font-weight: bold;
}

.elements {
    height: 50px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.elements div{
    height: 100%;
    width: 350px;
    display: flex;
}
.elements div select{
    width: 50%;
}

.elements input, .elements select {
    height: calc(100% - 10px);
    width: 100%;
    border: 1px solid dimgrey;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    transition: border .2s, box-shadow .2s;
}

.elements input:focus, .elements select:focus {
    border: 1px solid rgb(64, 50, 187);
    box-shadow: 0 0 2px 0 rgba(64, 50, 187, .5);
}

/* Removing Spin Buttons from input type numbers input box */

.elements input::-webkit-inner-spin-button,
.elements input::-webkit-outer-spin-button {
    display: none;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.container>div {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    height: 450px;
    width: 50%;
    padding: 10px;
    margin: 30px 0 0 0;
}

/* Submit and Cancel Buttons */
.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.btnContainer input {
    padding: 12.5px 30px;
    width: 155px;
    border-radius: 10px;
    outline: none;
    margin: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    background: rgba(64, 50, 187, .8);
    transition: background-color .4s, color .4s, box-shadow .4s;
}

.btnContainer input:hover {
    color: rgb(64, 50, 187);
    box-shadow: 1px 1px 10px gray;
    background-color: white;
}

.btnContainer input:last-child {
    background-color: gray;
    transition: background-color .4s, box-shadow .4s;
}

.btnContainer input:last-child:hover {
    color: rgb(64, 50, 187);
    box-shadow: 1px 1px 10px gray;
    background-color: white;
}