@font-face {
    font-family: 'omega sans';
    src: url('omegasansregular-webfont.woff2') format('woff2'),
         url('omegasansregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}